# ---> Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.idea
*.db
config.toml
*.lib
*.suo
*~
*.swp
*.swo
*.bak
*.orig
*.pdb
*.idb
.svn
.DS_Store
.xmake
*.gch
*.gch.d
gmon.out
build
*.sum
test/
.idea
.json
.vscode